<div class="container">
    <form [formGroup]='form' class="signupform" (ngSubmit)="submit()">
        <div class="nameContainer">
            <label>Name</label>
            <input class="nameInput" type="text" formControlName="name">
            <div *ngIf="form.get('name')?.invalid && form.get('name')?.touched" class="validation">
                <small>
                    name field cannot be empty
                </small>
            </div>
        </div>
        <div class="surnameContainer">
            <label>Surname</label>
            <input class="surNameInput" type="text" formControlName="surname">
            <div *ngIf="form.get('surname')?.invalid && form.get('surname')?.touched" class="validation">
                <small>
                    surname field cannot be empty
                </small>
            </div>
        </div>
        <div class="emailContainer">
            <label>Email</label>
            <input class="emailInput" type="text" formControlName="email">
            <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
                <small>
                    {{form.controls.email.errors?.['required']? 'name field cannot be empty':'wrong email' }}
                </small>
            </div>
        </div>
        <div class="passContainer">
            <label>Password</label>
            <input class="passInput" type="text" formControlName="password">
            <div *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
                <small>
                    {{form.controls.password.errors?.['required']? 'password field cannot be empty':'wrong password' }}
                </small>
            </div>
        </div>
        <div class="confpassContainer">
            <label>confirm password</label>
            <input class="confPassInput" type="text" formControlName="confirmPassword">
            <div *ngIf="form.controls.confirmPassword.errors?.['notSame'] && form.get('confirmPassword')?.touched">
                <small>
                    not equal
                </small>
            </div>
        </div>
        <div class="phoneContainer">
            <label>phone</label>
            <input class="phoneInput" type="text" formControlName="phoneNumber">
            <div *ngIf="form.controls.phoneNumber.errors?.['invalidPhoneNumber'] && form.controls.phoneNumber?.touched">
                <small>
                    invalid phone number
                </small>
            </div>
        </div>
        <button type="submit" [disabled]="form?.invalid">sign up</button>
    </form>
</div>